* {
    transition: all 0.5s ease;
}

body {
    font-family: "Urbanist", serif;
}

.sticky {
    padding: 0px 0px !important;
}

.header-font {
    font-family: "Sora";
    font-size: 16px;
    font-weight: 300;
    line-height: 20.16px;
    text-align: center;
}

.header-font1 {
    font-family: "Sora";
    font-size: 15px;
    font-weight: 300;
    line-height: 20.16px;
    text-align: center;
}

.header-font2 {
    font-family: "Sora";
    font-size: 18px;
    font-weight: 400;
    line-height: 20.16px;
    text-align: center;
}

p {
    margin: 0px !important;
}

.container {

    margin: 0 auto;

}

#login.btn-1:hover {
    background-color: transparent;
    color: #ffffff !important;
}

section {
    padding: 80px 50px;
}

.footer-first {
    max-width: 300px;
}

/* nav bar  */
a#get__started.btn-1 {
    background-color: #0094DE;
    border: 1px solid #0094DE !important;
    border-radius: 5px;
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 15px 30px;
}

a#get__started.btn-1:hover {
    border: 1.16px solid;
    /* border-image-source: linear-gradient(86.73deg, #6FD3FE 3.13%, #7F61F9 95.46%); */
    border-image-slice: 1;
    background: #0094DE;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white !important;
}

a.nav-link.active {
    color: #0094DE;
    background: linear-gradient(90deg, #805AF5, #805AF5);
    -webkit-background-clip: text;
    text-decoration: none;
    text-underline-offset: 35px !important;
    border-bottom: 5px solid;
}

/* end nav bar  */
.btn-login-1 {
    background: linear-gradient(100deg, #805AF5, #8737D4);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    padding: 15px 30px;
}

.btn-1 {
    background-color: #0094DE;

    border: 1px solid #0094DE !important;
    border-radius: 5px;
    color: #ffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 30px;
}

.btn-1:hover {
    background-color: #0094DE;
    color: #ffffff !important;
}

.btn-2 {
    background-color: transparent;
    border: 1px solid #805AF5 !important;
    border-radius: 5px;
    color: #805AF5;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}

.btn-space-one {
    padding: 2px 15px;
}

.btn-space-two {
    letter-spacing: 1px;
    padding: 12px 24px !important;
    font-weight: 400;
    font-size: 16px;
}

.header-color {
    background-color: #0E0C15;
}

.logotext {
    font-family: "Plus Jakarta Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 22.68px;
    color: white !important;
    text-decoration: none;
}

/* #navbarSupportedContent {
    display: flex;
    justify-content: center;
    gap: 130px;
} */
.slick-initialized .slick-slide {
    display: flex;
    justify-content: center;
}

.nav-bar-div {
    padding-top: 14px;
    padding-bottom: 19px;
    border-bottom: 1px solid #89BBD9;
}

.navbar-brand {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 46px;
    margin-right: 8px;
}

.navbar-toggler {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
}

a.nav-link {
    color: #BCC3D7;
    font-size: 14px !important;
    margin: 0 10px !important;
    transition: color 0.3s;
}

.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: transparent;
    /* Ensure text is transparent */
    background: linear-gradient(90deg, #805AF5, #805AF5);
    /* Default gradient */
    -webkit-background-clip: text;
    /* Clip background to text */
    text-decoration: none;
    text-underline-offset: 35px !important;

}

.nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    margin-top: -20px;
    bottom: -3px;
    /* Distance between text and underline */
    width: 100%;
    height: 5px;
    /* Thickness of the underline */
    background: #0094DE !important;
    /* Default underline gradient */
    transform: scaleX(0);
    box-shadow: 0 -7px 14px rgba(255, 255, 255, 0.3);
    transform-origin: left;
    transition: transform 0.3s ease, background 0.3s ease;
    border-radius: 30px;
}

a.nav-link:hover::after {
    background: #0094DE !important;
    /* Hover underline gradient */
    transform: scaleX(1);
    /* Show underline on hover */
    border-radius: 30px;
}



a.nav-link:active::after {
    background: linear-gradient(90deg, #4A90E2, #4A90E2) !important;
    /* Active underline gradient */
    transform: scaleX(1);
    /* Ensure underline is visible */
}

/* dropdown css */
.dropdown-toggle {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: transparent;
    /* Ensure text is transparent */
    background: linear-gradient(90deg, #805AF5, #805AF5);
    /* Default gradient */
    -webkit-background-clip: text;
    /* Clip background to text */
    text-decoration: none;
    text-underline-offset: 35px !important;
}

.dropdown-toggle::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -14px;
    /* Distance between text and underline */
    width: 100%;
    height: 5px;
    /* Thickness of the underline */
    background: linear-gradient(90deg, #805AF5, #805AF5) !important;
    /* Default underline gradient */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease, background 0.3s ease;
    border-radius: 30px;
}

a.dropdown-toggle:hover::after {
    background: linear-gradient(90deg, #6E3BF6, #9B6AFF) !important;
    /* Hover underline gradient */
    transform: scaleX(1);
    /* Show underline on hover */
}



.dropdown-toggle:active::after {
    background: linear-gradient(90deg, #4A90E2, #4A90E2) !important;
    /* Active underline gradient */
    transform: scaleX(1);
    /* Ensure underline is visible */
}

/* dropdown css */
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    /* border-top: .3em solid; */
    /* border-right: .3em solid transparent; */
    /* border-bottom: 0; */
    /* border-left: .3em solid transparent; */
}

.btn-login {
    background: transparent;
    border: 1px solid #0094DE;
    color: #0094DE;
    margin-right: 10px;
    border-radius: 5px;
}

.btn-login:hover {
    background: transparent;

}

.btn-primary {
    background-color: #0094DE;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 30px;
}

.btn-primary:hover {
    background: #0094DE;
}

.button-space {
    padding-left: 80px;
}

.navbar-links {
    background-color: #16181E;
    border-radius: 100px;
    padding: 2px 45px;
}

.nav-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 26.72px;
}

a.nav-link.acti {
    color: #bcc3d7;
}

.nav-item {
    padding: 0px 15px;
}

.banner {
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: top center;
    /* Position background at the top center */
    background-size: cover;
}

.banner .row {
    min-height: 100px;
    padding: 30px;
    width: 100%;
    text-align: center;
}

.banner-header,
p {
    font-size: 64px;
    font-weight: 800;
    line-height: 51.4px;
    color: #ffff;
}

.wordpress-text {
    background: #0094DE;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 64px;
    font-weight: 800;
    line-height: 98.4px;
}

.border-color {
    border-right: 1px solid white;
}

.text-posi-1 {
    text-align: end !important;
}

.text-posi-2 {
    text-align: start !important;
}

.comment-padd {
    padding-right: 8rem !important;
}

.rating-txt {
    font-size: 10px;
    font-weight: 400;
    line-height: 14.4px;
    color: #ffff;
}

.gif-back {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* Ensures the image covers the div */
    text-align: center;
    border-radius: 0px 0px 50px 50px;
    padding: 10px !important;
}

.gif-div-1 {
    margin-bottom: 70px;
}

.gifdiv {

    border-radius: 20px;
    width: 80%;
    margin-top: -200px !important;
}

.logos-con {
    border: 1px solid #CFCFCF;
    border-radius: 20px;
    padding: 50px 35px;
    cursor: pointer;

}

.pricingcontainer {
    max-width: 84%;
    margin: 0 auto;
}

.logos-pad {
    padding: 10px 10px;
    text-align: center;
}

.card-back {

    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    border-radius: 20px;
    min-height: 440px;
    width: 400px;
    padding: 30px 20px 20px 20px;

}

.cardimg {
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    width: 100%;
    left: 1px;
    bottom: 0px;

}

.cardimg-3 {
    width: 90%;
    left: 20px;
}

.card-tittle {
    font-size: 35px;
    font-weight: 600;
    line-height: 40.4px;
    color: #ffff;
}

.hundread {
    font-size: 70px;
    font-weight: 900;
    text-align: center;
    line-height: 50px;
}

.card-font {
    font-family: "Sora";
    font-size: 14px;
    font-weight: 300;
    line-height: 18.16px;
}

.sec-tittle {
    font-size: 50px;
    font-weight: 700;
    line-height: 62.4px;
    text-align: center;
}

.sec-tittle-1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 62.4px;
}

.dif-color {
    background: #0094DE;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 70px;
    font-weight: 700;
    line-height: 62.4px;
}

/*.imgstyle {
    border: 5px solid transparent; 
    border-radius: 10px;
    border-image: linear-gradient(100deg, #805AF5, #CD99FF) 1; 
    width: 400px;
}*/

.serv-tittle {
    font-size: 50px;
    font-weight: 700;
    line-height: 62.4px;
    color: white;
    text-align: center;
}

.serv-btm-img {
    position: absolute;
    bottom: -15px;
    left: 615px;
    width: 800px;
}

.serv-top-img {
    position: absolute;
    top: -15px;
    left: 615px;
    width: 800px;
    display: none;
    visibility: hidden !important;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-ellips-img {
    left: 10px !important;
    top: 10px;
}

.card-heading {
    font-size: 20px;
    font-weight: 600;
    line-height: 26.4px;
}

.card-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    color: #747474;
}

.card-link {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: #6E3BF6;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.step-div {
    border-radius: 20px;
    height: 100%;
    justify-content: center;
    padding: 20px 50px;
    margin: 15px 0px 15px 0px;

}

.step-div-1 {
    background-color: #F2F2FF;
    border: 1px solid #0000FF;
}

.step-div-2 {
    background-color: #FFEEF8;
    border: 1px solid #FF0096;
}

.step-div-3 {
    background-color: #F2FFFF;
    border: 1px solid #007474;
}

.stp-no {
    color: #DADAFF;
    font-size: 80px;
    font-weight: 700;
    line-height: 109.08px;
}

.stp-tittle {
    font-size: 39px;
    font-weight: 700;
    line-height: 50.4px;
    color: #3c0076;
}

.stp-dis {
    color: #6B6573;
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;
}

.accordion-body {
    background-color: #f9f9f9;
    padding: 3rem 2.25rem;
}

.stp-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.plan-card {
    padding: 30px;
}

.plan-text {
    font-size: 17px;
    font-weight: 300;
    line-height: 24px;
    color: #071A34;
    padding: 10px 0px;
}

.plan-rate {
    font-size: 69.66px;
    font-weight: 700;
    line-height: 76.62px;
    color: #071A34;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #4D4D51;
    margin: 20px 0;
    position: relative;
}

.list-icon-img {
    height: 18px;
    width: 18px;
}

.plan-btn-1 {
    padding: 20px 50px;
    border: 1.16px solid;
    border-image-source: linear-gradient(86.73deg, #6FD3FE 3.13%, #7F61F9 95.46%);
    border-image-slice: 1;
    border-radius: 5px !important;
}

.plan-btn-1:hover {
    background: #0094de !important;
    color: white;
    border: none;
}

.plan-btn-2 {
    padding: 20px 50px;
    border: 1px #F2FFFF solid;
}

.plan-btn-2:hover {
    border: 1.16px solid;
    border-image-source: linear-gradient(86.73deg, #6FD3FE 3.13%, #7F61F9 95.46%);
    border-image-slice: 1;
    border-radius: 5px !important;
    background-color: white;
    color: #071A34 !important;
}

.plain-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.primium-abs {
    position: absolute;
    left: 0px;
    bottom: -70px;
}

.primium-top {
    position: absolute;
    top: -17px;
    left: 600px;
    display: none;
}

.primium-botom {
    position: absolute;
    bottom: -13px;
    left: 600px;
    display: none;
}

.accordion-button {
    padding: 1.75rem 1.25rem;
}

/* .accordion-button {
    background-color: #805AF5;
} */
.accordion-button:not(.collapsed) {
    color: white;
    background-color: #0094de;

}

.accordion-button:focus {
    box-shadow: none !important;
}

.acc-tittle {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.accordion-button:not(.collapsed)::after {

    background-image: url("/assets/img/close.png");
    transform: rotate(-180deg);

}

.accordion-button::after {
    flex-shrink: 0;
    width: 2.55rem;
    height: 2.55rem;
    margin-left: auto;
    content: "";
    background-image: url("/assets/img/read.png");
    background-repeat: no-repeat;
    background-size: 2.55rem;
    transition: transform .2s ease-in-out;

}

.acc-div {
    padding: 10px;
}

.accordion-item {
    margin-bottom: 15px;
}

button.accordion-button.collapsed {
    border: 1px solid #E9E9E9;
    border-radius: 5px;
}

.test-card {
    border-radius: 12.75px;
    border: 1px solid #272727;
    height: 100%;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cutomer-nm {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
}

.custoer-desg {
    font-size: 12px;
    font-weight: 400;
    line-height: 25.5px;
    color: #6B6573;
}

.contact-div {
    background-image: url("/assets/img/image27.png");

    border-radius: 70px;
    height: 100%;
    padding: 50px;
    background-position: center;
}

.contact-btn {
    border: 1px solid #FFFFFF;
    padding: 15px 20px;
}

.contact-btn:hover {
    background: linear-gradient(100deg, #805AF5, #8737D4) !important;
    -webkit-background-clip: text !important;
}

/* footer css  */
footer {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo {
    max-width: 80%;
    margin-bottom: 15px;
}

.footer-con {
    height: 100%;
    padding: 70px 0px;
    justify-content: space-between;
    /* display: flex;
    flex-direction: column; */
}

.footer-content {

    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    padding: 20px 0px;
    max-width: 90%;
}

.footer-info {
    padding-right: 50px;
}

.footer-tittle {
    font-size: 18px;
    font-weight: 600;
    line-height: 31.98px;
    color: white;

}

.divider-linear {
    width: 37%;
    height: 7px;
    background: rgb(99, 52, 245);
    background: linear-gradient(90deg, #0094de 0%, #0094de 70%, #000 70%, #000 78%, #E87817 78%, #E87817 100%);

    margin: 20px 0;
    position: relative;
    border-radius: 20px;

}

.divider-linear1 {
    width: 37%;
    height: 4px;
    background: rgb(99, 52, 245);
    background: linear-gradient(90deg, #0094de 0%, #0094de 70%, #000 70%, #000 78%, #E87817 78%, #E87817 100%);
    margin: 20px 0;
    position: relative;
    border-radius: 20px;
}

.foote-main-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.footer-list {
    text-decoration: none;
    color: #FFFFFF99;
    font-size: 16px;
    font-weight: 300;
    line-height: 40.98px;
    margin-bottom: 25px;

}

.footerlist {
    margin: 25px 0px;
}

/* end team section */
/* progress bar css  */
.custom-progress-wrapper {
    position: relative;
    width: 100%;
}

.custom-range {
    width: 100%;
    -webkit-appearance: none;
    background: linear-gradient(to right, #0094DE, #035D94, #E87817);
    height: 8px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.custom-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 18px;
    width: 18px;
    background: #fff;
    border: 2px solid #6a2deb;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.custom-range::-moz-range-thumb {
    height: 18px;
    width: 18px;
    background: #fff;
    border: 2px solid #6a2deb;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.tooltip-container {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip {
    display: block;
    background-color: #000;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    position: absolute;
    top: -30px;
    transform: translateX(-50%);
}

.label-container {
    position: relative;
    margin-top: 20px;
}

.label-container .label {
    font-size: 14px;
    color: #6c757d;
    text-align: center;
    position: absolute;
    top: -80px;
    transform: translateX(-50%);
    background-color: #27272A;
    padding: 6px 11px;
    color: white;
    border-radius: 5px;
    display: none;
    /* Hide labels by default */
}

.label-container .tick {
    position: absolute;
    width: 2px;
    height: 18px;
    background: #6c757d;
    top: -40px;
    transform: translateX(-50%);
}

.label-0 {
    left: 0%;
}

.label-1 {
    left: 25%;
}

.label-2 {
    left: 50%;
}

.label-3 {
    left: 75%;
}

.label-4 {
    left: 100%;
}

/* progres bar css en  */
.serv-div {
    position: relative;
}

.services-cards {
    position: relative;
    padding-top: 20px;
}

.Ai-con {
    padding-top: 20px;
}

.plan-sec {
    padding-top: 20px;
    align-items: center;
}

.faq-con {
    padding-top: 20px;
}

.wordprss-con {
    padding-top: 20px;
}

.progress-bar-con {
    padding-top: 20px;
}

.test-con {
    padding-top: 20px;
}


@media (min-width: 1025px) and (max-width: 1440px) {
    .primium-top {
        left: 345px !important;
    }

    .primium-botom {
        left: 345px !important;
    }

    .mobile-carousel {
        display: none
    }

    .serv-btm-img {
        display: none;
    }

    .serv-top-img {
        display: none;
    }

    .gif-image {
        width: 90%;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    section {
        padding: 40px 0px;
    }

    .header-btn {
        display: none !important;
    }

    .gifdiv {
        height: auto;
        border-radius: 20px;
        width: 100%;
        margin-top: -220px;
    }

    .serv-btm-img {
        display: none;
    }

    .serv-top-img {
        display: none;
    }

    .headder-btn {
        display: none;
    }

    .card-back {
        width: 300px;
        padding: 20px;
    }

    .cardimg {
        width: 100%;
        height: auto;
        left: 0px;
    }

    .hundread {
        font-family: 50px;
        line-height: 35px;
    }

    .card-tittle {
        font-size: 25px;
        line-height: 30.4px;
    }

    .imgstyle {
        width: 300px;
    }

    .mobile-carousel {
        display: none
    }

    .plan-btn-1 {
        padding: 10px 20px;

    }

    .plan-btn-2 {
        padding: 10px 20px;
    }

    /* .services-cards {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 90px;
        gap: 20px;
    } */
    .stp-img {
        width: 400px;
    }

    .stp-no {
        font-size: 75px;
        line-height: 70px;
    }

    .primium-top {
        left: 120px;
    }

    .primium-botom {
        left: 120px;
    }

    .plan-text {
        font-size: 15px;
    }

    .plugin-img {
        height: 450px;
    }

    .sec-tittle-1 {
        font-size: 40px;
        line-height: 50px;
    }

    .plain-text {
        font-size: 15px;
        line-height: 22px;
    }

    .test-card {
        padding: 25px;
    }

    .cutomer-nm {
        font-size: 15px;
        line-height: 20px;
    }

    .cutome-logo {
        width: 135px;
    }

    .footer-con {
        height: 100%;
        padding: 30px 0px;
    }

    .footerlist {
        margin: 15px 0px;
    }

    .footer-list {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 15px;
    }

    footer {
        height: 500px;
    }

    .services-cards .col-lg-6.col-sm-12 {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
}

/* end tab laptop */




@media (max-width: 768px) and (min-width: 426px) {
    section {
        padding: 50px 0px !important;
    }

    .mobile-carousel {
        display: none
    }

    .header-btn {
        display: none !important;
    }

    .serv-btm-img {
        display: none;
    }

    .serv-top-img {
        display: none;
    }

    .plan-btn-1 {
        padding: 10px 20px;

    }

    .plan-btn-2 {
        padding: 10px 20px;
    }

    .navbar {
        background-color: transparent;
    }

    .toggle-res {
        display: flex;
        justify-content: end !important;
    }

    .navbar-links {
        background: none;
        border-radius: 0px;
        padding: 10px 45px;
    }

    .navbar-toggler-icon {
        background-color: white;
    }

    .gifdiv {
        height: auto;
        border-radius: 20px;
        width: 100%;
        margin-top: -170px;
    }

    .banner .row {
        width: 100%;
    }

    .banner-header,
    p {
        font-size: 50px;
        line-height: 50px;
    }

    .wordpress-text {
        font-size: 60px;
        font-weight: 800;
        line-height: 70px;
    }

    /* .card-con {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 90px;
        gap: 20px;
    } */
    .card-back {
        width: 350px;
        padding: 20px;
    }

    .cardimg {
        width: 100%;
    }

    .imgstyle {
        width: 200px;
    }

    /* .wordprss-con {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
        padding: 0px 20px;
        gap: 20px;
    } */
    .header-font {
        font-size: 15px;
        line-height: 25px;
    }

    /* .services-cards {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 20px;
        gap: 20px;
    } */
    .stp-no {
        font-size: 50px;
        line-height: 40px;
        margin-bottom: 20px !important;
    }

    .stp-tittle {
        font-size: 30px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 20px !important;
    }

    .stp-dis {
        font-size: 18px;
        line-height: 25px;
    }

    .stp-img {
        height: 300px;
        width: 400px;
        object-fit: contain;
    }

    .row.AI-row {
        display: flex;
        flex-direction: column-reverse;
    }

    .plan-card {
        padding: 20px;
        margin-top: 20px;
    }

    .primium-top {
        display: none;
    }

    .primium-botom {
        display: none;
    }

    .plugin-img {
        width: 280px;
    }

    .plugin-img-con {
        text-align: center;
    }

    .sec-tittle-1 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 10px !important;
    }

    .plain-text {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 20px !important;
        width: 100%;

    }

    .test-card {
        padding: 15px;
    }

    .cutomer-nm {
        font-size: 16px;
        line-height: 15px;
    }

    .cutome-logo {
        width: 100px;
    }

    .icon-box {
        margin-bottom: 20px;
    }

    .footer-con {
        height: 100%;
        padding: 30px 0px;
    }

    .divider-linear {
        width: 30%;
        height: 4px;
        margin: 5px 0;
    }

    .footerlist {
        margin: 12px 0px;
    }

    .footer-list {
        font-size: 15px;
        line-height: 20px;
        /* margin-bottom: 15px; */
    }

    .link-icon {
        width: 40px;
        margin-right: 10px;
    }

    .link-icon:hover {
        background-color: #0000FF !important;
    }

    .services-cards .col-lg-3.col-sm-12 {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    .cardimg-3 {
        width: 100% !important;
        height: auto;
        left: 0px;
    }
}

/* end tab css  */

@media (max-width:426px) and (min-width:375px) {
    .serv-tittle {
        font-size: 30px;
        font-weight: 700;
        line-height: 62.4px;
        color: white;
        text-align: center;
    }

    .footer-con {
        height: 100%;
        padding: 70px 0px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
    }

    .footer-content {
        width: 100% !important;
    }

    .footer-logo {
        max-width: 70% !important;
        height: 100%;
    }

    section {
        padding: 30px 0px !important;
    }

    .header-btn {
        display: none !important;
    }

    .plan-btn-1 {
        padding: 10px 20px;

    }

    .plan-btn-2 {
        padding: 10px 20px;
    }

    .navbar {
        background-color: transparent;
    }

    .toggle-res {
        display: flex;
        justify-content: end !important;
    }

    .navbar-links {
        background: none;
        border-radius: 0px;
        padding: 10px 45px;
    }

    .serv-btm-img {
        display: none;
    }

    .serv-top-img {
        display: none;
    }

    .navbar-toggler-icon {
        background-color: white;
    }

    .banner .row {
        width: 100%;
        padding: 10px;
    }

    .banner {
        min-height: 500px;
    }

    .banner-header,
    p {
        font-size: 40px;
        font-weight: 800;
        line-height: 50px;

    }

    .plan-card {
        padding: 15px;
    }

    .plan-rate {
        font-size: 50px;
        line-height: 50px;
    }

    .heade-font-1 {
        font-size: 12px !important;
        width: 60%;
    }

    .wordpress-text {
        font-size: 40px;
        font-weight: 800;
        line-height: 50px;
    }

    .gifdiv {
        height: auto;
        border-radius: 20px;
        width: 100%;
        margin-top: 0px !important;
    }

    .comment-padd {
        padding-top: 20px !important;
        padding-right: 25px !important;
    }

    .text-posi-1 {
        text-align: center !important;
    }

    .text-posi-2 {
        text-align: center !important;
    }

    .border-color {
        border: none !important;
    }

    .hundread {
        font-size: 50px;
        line-height: 40px;
        margin-bottom: 10px !important;
    }

    .card-tittle {
        font-size: 30px;
        line-height: 30px;
        color: #ffff;
        text-align: center;
    }

    .card-back {
        min-height: 400px;
        width: 350px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .cardimg {
        width: 100%;
    }

    .card-font {
        font-size: 14px;
        padding: 20px 10px;
        margin-top: 10px;
    }

    .sec-tittle {
        font-size: 35px !important;
        font-weight: 700;
        line-height: 42px;
    }

    .card {
        width: 100%;
        /* height: 100%; */
        gap: 20px;
    }

    .dif-color {
        font-size: 35px !important;
        line-height: 42px;
    }

    .header-font {
        font-size: 15px;
        line-height: 20px;
    }

    .step-div {
        padding: 20px 10px;
        /* margin: 15px 0px 15px 0px; */
        display: block !important;
    }

    .stp-img {
        height: auto;
        /* width: auto; */
        margin-bottom: 10px;
    }

    .stp-dis {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 20px !important;
    }

    .stp-tittle {
        font-size: 35px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 20px !important;
    }

    .stp-no {
        font-size: 55px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 10px !important;
    }

    .Ai-con {
        padding: 20px;
    }

    .progress-bar-con {
        padding: 20px;
    }

    .primium-top {
        display: none;
    }

    .primium-botom {
        display: none;
    }

    .plugin-img-con {
        padding: 0px 45px;
    }

    .plugin-img {
        width: 100%;
        height: 100%;
    }

    .sec-tittle-1 {
        font-size: 31px;
        font-weight: 700;
        line-height: 40px;
    }

    .plain-text {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 20px !important;
    }

    .faq-con {
        padding: 20px;
    }

    .test-con {
        padding: 20px;
    }

    .contact-con {
        padding: 10px;
    }

    .contact-sec {
        padding: 20px !important;
    }

    .contact-div {
        padding: 20px;
    }

    footer {
        /* height: 1200px; */
    }

    .footer-con {
        height: 100%;
    }

    .footer-first {
        max-width: 100%;
    }

    .footer-info {

        padding: 20px !important;
    }

    .divider-linear {
        margin: 10px 0;

    }

    .footerlist {
        margin: 10px 0px;
    }

    .footer-list {
        font-size: 15px;
        line-height: 10px;
    }

    .row {
        margin: 0px !important;
    }

    .col-xl-3.col-lg-6.col-md-6.col-sm-12.mt-3.justify-content-center {
        display: flex;
    }

    .cardimg-3 {
        width: 100% !important;
        height: auto;
        left: 0px;
    }
}

/* end mobile css */
@media (max-width:375px) and (min-width:320px) {
    .footer-content {
        width: 100%;
        padding: 10px 0px;
    }

    section {
        padding: 20px 0px !important;
    }

    .plan-btn-1 {
        padding: 10px 20px;

    }

    .plan-btn-2 {
        padding: 10px 20px;
    }

    .container {
        padding: 10px 0px;
    }

    .serv-btm-img {
        display: none;
    }

    .serv-top-img {
        display: none;
    }

    .row {
        margin: 0px !important;
    }

    .banner {
        min-height: 500px;
    }

    .navbar-links {
        background: none;
        border-radius: 0px;
        padding: 10px 45px;
    }

    .card-back {
        min-height: 350px !important;
        width: 320px !important;
        margin-bottom: 20px;
        padding: 10px;
    }

    .banner-header,
    p {
        font-size: 35px;
        line-height: 40px;
    }

    .wordpress-text {
        font-size: 35px;
        line-height: 40px;
    }

    .heade-font-1 {
        font-size: 10px !important;
        line-height: 22px;
        padding-bottom: 10px !important;
        width: 60%;
    }

    .banner .row {
        padding: 10px;
        width: 100%;
    }

    .comment-padd {
        padding-right: 3rem !important;
    }

    .text-posi-1 {
        text-align: center !important;
        margin-bottom: 20px !important;
    }

    .text-posi-2 {
        text-align: center !important;
    }

    .border-color {
        border: none;
    }

    .gifdiv {
        height: auto;
        width: 100%;
        margin-top: 0px;
    }

    .cardimg {
        width: 100%;
    }

    .cardimg-3 {
        width: 100% !important;
        height: auto;
        left: 0px;
    }

    .card-back {
        width: 300px !important;
        text-align: center;
    }

    .services-cards .col-lg-3.col-sm-12 {
        display: flex;
        justify-content: center !important;
        margin-bottom: 10px;
    }

    .hundread {
        font-size: 45px;
        line-height: 40px;
    }

    .card-tittle {
        font-size: 30px;
        line-height: 35px;
        margin-top: 0px !important;
        padding-top: 22px !important;
    }

    .imgstyle {
        width: 100%;
    }

    .sec-tittle {
        font-size: 30px;

    }

    .dif-color {
        font-size: 30px;
        line-height: 38px;
    }

    .serv-tittle {
        font-size: 30px;
        line-height: 38px;
    }

    .header-font {
        font-size: 15px;
        line-height: 22px;
        padding-bottom: 10px !important;
        padding: 0px 10px 10px 10px;
    }

    .card {
        margin-top: 20px;
    }

    .stp-img {
        height: auto;
        width: 280px;
    }

    .stp-no {
        font-size: 50px;
        line-height: 40px;
    }

    .stp-tittle {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 10px !important;
    }

    .stp-dis {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 10px !important;
    }

    .btn-1 {
        margin-bottom: 10px !important;
        font-size: 15px;
        line-height: 20px;
    }

    .btn-space-two {
        padding: 8px 15px !important;
        font-weight: 400;
    }

    .Ai-con {
        padding: 10px;
        gap: 10px !important;
    }

    .AI-row {
        display: flex;
        flex-direction: column-reverse;
    }

    .progress-bar-con {

        padding: 40px 20px !important;
    }

    .plan-sec {
        padding: 0px;
    }

    .plan-card {
        padding: 10px;
    }

    .plan-text {
        font-size: 17px;
        line-height: 25px;
        padding: 5px 0px;
        width: 100%;
    }

    .primium-botom {
        display: none;
    }

    .primium-top {
        display: none;
    }

    .plan-rate {
        font-size: 50px;
        line-height: 50px;
    }

    .plan-btn-1 {
        padding: 12px 30px;
    }

    .plan-btn-2 {
        padding: 12px 30px;
    }

    .plugin-img {
        width: 100%;
    }

    .sec-tittle-1 {
        font-size: 30px;
        font-weight: 500;
        line-height: 38px;
    }

    .plain-text {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 15px !important;
    }

    .faq-con {
        padding: 15px;
    }

    .acc-tittle {
        font-size: 18px;
        line-height: 20px;
    }

    .test-card {
        height: 365px;
        padding: 20px;
    }

    .contact-sec {
        padding: 10px !important;
    }

    .contact-btn {
        border: 1px solid #FFFFFF;
        padding: 10px 16px;
    }

    .cutomer-nm {
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
    }

    .footer-con {
        height: 100%;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
    }
}

.link-icon {
    width: 40px;
    margin-right: 10px;
}

footer {
    /* height: 1250px; */
}

.divider-linear {
    margin: 5px 0px;
}

.footerlist {
    margin: 10px 0px;
}

.footer-list {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.foote-main-list {
    text-align: center;
}

.footer-info {
    padding: 0px;
    text-align: center;
}


/*new CSS*/


.navbar-links {
    background-color: #16181E;
    border-radius: 100px;
    padding: 6px 45px;
}

.wordpress-text {
    background: #0094DE;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 64px;
}

.banner-header,
p {
    font-size: 64px;
}

.gif-back {
    background-position: unset;
    background-size: unset;
}

.gifdiv {
    margin-top: -62px !important;
}

.btn-1 {
    font-size: 14px;
}

.gif-back {
    padding-bottom: 70px !important;
}

.sec-tittle {
    font-size: 50px;
}

.dif-color {
    font-size: 50px;
    background: #0094DE;
    -webkit-background-clip: text;
    color: transparent;

}

.hundread {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
}

.imgstyle {
    border-radius: 10px !important;
    width: 94%;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 30px;
    border: double 5px transparent;
    background-image: linear-gradient(white, white), linear-gradient(to right, #035D94, #0094DE);
}

.divider-linear {
    height: 4px;
}

section#shadow-host-companion {
    padding: 0px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #000;
    z-index: 9999;
    padding: 20px 0px;
}

.card {
    margin: 0 auto;
}

.card-back {
    box-shadow: 0px 0px 5px #00000052;
}

img.plugin-img {
    width: 100%;
}

@media (max-width:768px) {
    .wordprss-con {
        display: flex;
        flex-direction: row;
    }

    .navbar-links {
        background-color: transparent;
        border-radius: 100px;
        padding: 6px 0px;
    }

    .banner-header,
    p {
        font-size: 44px;
        line-height: 45px;
    }

    .gifdiv {
        margin-top: -107px !important;
    }

    section#shadow-host-companion {
        padding: 0px !important;
    }

    .wordpress-text {
        font-size: 50px;
        line-height: 45px;
    }
}

/* .col-lg-2 {
    flex: 0 0 auto;
    width: 12.666667% !important;
} */

@media (max-width: 425px) {
    .footer-con {
        height: auto;
        /* padding: 20px 10px;  */
    }

    .footer-list {
        font-size: 14px;
        line-height: 18px;
    }

    .divider-linear {
        width: 10%;
    }

    .center-but {
        padding: 0 30px 30px;
    }

    /*.banner-header, .banner p{
    font-size:50px !important;
    line-height: 55px;
    
    }*/
    .gifdiv {
        margin-top: -58px !important;
    }

    /*.wordpress-text{
    font-size:50px;
    }*/
    .dif-color {
        font-size: 30px;
        line-height: 38px;
    }

    .sec-tittle {
        font-size: 30px;
        line-height: 38px;
    }

    .footer-tittle {
        text-align: left;
    }

    .wordprss-con {
        padding: 20px;
    }

    .contact-sec .justify-content-end {
        justify-content: start !important;
    }

    .navbar-links {
        background-color: transparent;
        border-radius: 100px;
        padding: 6px 0px;
    }

    section#shadow-host-companion {
        padding: 0px !important;
    }

    .foote-main-list {
        text-align: left;
    }

    .primium-top img {
        display: none !important;
    }

    .card-bt1 {
        border: 1px solid #fff;
        border-radius: 5px;
        width: 100%;
        max-width: 70%;
        margin-left: 10px;
        padding: 9px 12px;
    }
}

/******** 02Jan25 ************/
.rating-img {
    text-align: right;
}

.rating-star {
    text-align: left;
}

section.free-theme img.plugin-img {
    max-width: 450px;
}

.slick-slide {
    align-items: center;
    DISPLAY: FLEX !IMPORTANT;
    VERTICAL-ALIGN: MIDDLE;
}

.logo-slider .slick-slide img {
    height: 30px;
}

@media (max-width: 481px) {
    section.banner {
        padding: 20px 20px;
    }

    section.banner .row:nth-child(1) {
        padding: 0px 0px;
    }

    .banner .banner-header {
        font-size: 30px !important;
        line-height: 30px;
    }

    .banner .banner-header p {
        font-size: 20px !important;
        line-height: 20px;
    }

    .banner .wordpress-text {
        font-size: 30px;
    }

    .banner .comment-padd {
        padding-right: 0px;
    }

    .rating-img,
    .rating-star {
        text-align: center;
    }

    .center-box {
        padding: 30px;
    }

    footer .footer-content {
        margin: 0 auto !important;
    }

    footer.py-5 {
        padding-bottom: 0px !important;
    }

    .card {
        width: 100%;
    }

    .navbar-brand img {
        height: 32px;
        margin-right: 8px;
    }

    .card-bt1 {
        border: 1px solid #fff;
        border-radius: 5px;
        width: 100%;
        max-width: 70%;
        margin-left: 10px;
        padding: 9px 12px;
    }

    .headder-btn button#login {
        margin-bottom: 15px;
    }

    .schedule-demo {
        justify-content: flex-start !important;
    }
}

.text-dark {
    color: #737887 !important;
}

footer ul.list-unstyled li {
    padding-bottom: 10px;
}

footer ul.list-unstyled {
    padding-top: 15px;
}

footer .plain-text,
footer ul.list-unstyled li a {
    color: #fff !important;
}

button#login:hover {
    background: #0094DE !important;
    color: #fff !important;
}

.btn-space-two:hover {
    background: transparent;
    border: 1px solid #0094DE !important;
    color: #0094DE !important;
}

.btn-space-two:hover i.fa-solid {
    color: #0094DE !important;
}

.btn-primary {
    border: 1px solid #0094DE !important;
}

.card-link {
    color: #0094DE;
}

.card-bt1 {
    border: 1px solid #fff;
    border-radius: 5px;
    width: 100%;
    max-width: fit-content;
    margin-left: 10px;
    padding: 9px 12px;
}

.card-bt2 {
    border: 1px solid #fff;
    border-radius: 5px;
    width: 100%;
    max-width: fit-content;
    padding: 9px 12px;
}

.active-plan-card p,
.active-plan-card span {
    color: #fff;
}

.active-plan-card .divider {
    background-color: #fff;
}

.list-group-item {
    background: transparent;
}

.Professional {
    background: #fff;
    padding: 2px 10px;
    line-height: 21px;
    width: 100%;
    max-width: fit-content;
    color: #000 !important;
    border-radius: 25px;
    margin-bottom: 14px !important;
    font-size: 17px;
    font-weight: 300;
}

.plan-card.active-plan-card {
    padding: 40px;
}

.schedule-demo {
    display: flex;
    justify-content: end;
}

a.btn.contact-btn:hover {
    background: #fff !important;
    Color: #0187ca !important;
}

a.btn.contact-btn:hover i.fa-solid {
    Color: #0187ca !important;
}